@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Prompt';
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.title {
    text-align: center;
    font-size: 50px;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    padding: 10px 0 10px 0;
}

/*! Navigation */
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
}
.nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.nav-link {
    text-decoration: none;
    color: white;
    opacity: 0.5;
}
.nav-link:hover {
    opacity: 1;
}

/*! Header */
.header {
    background-image: url(../img/header-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.header .container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
.header-title {
    font-size: 60px;
}
.header-text {
    font-size: 20px;
    margin-top: -15px;
}
.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #38598b;
    border: none; 
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-top: 13px;
    opacity: 0.6;
}
.button a {
    text-decoration: none;
    color: white; 
}
.button:hover {
    opacity: 1;
}

/*! About */
.about {
    height: 100vh;
}
.about-img {
    border-radius: 20px;
    width: 430px;
}
.about-content {
    display: flex;
    align-items: center;
}
.about-text {
    font-size: 18px;
    margin-left: 50px;
}

/*! Resume */
.resume {
    background-color: #becdcb;
    margin-bottom: 20px;
    height: 100vh;
}
.resume .resume-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}
.box {
    border: 1px solid black;
    margin: 15px 0 15px 0;
    opacity: 0.8;
    height: 350px;
    width: 350px;
}
.resume .box h1 {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    transition: ease 1.8s;
}
.resume-content a {
    color: black;
}
.resume .box h1:hover {
    font-size: 30px;
    transition: ease 1.8s;
}
.resume .button {
    background-color: black;
}
.flex-button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/*! Works */
.works {
    padding-bottom: 15px;
}
.works-img {
    width: 50%;
    height: 100%;
    border: 3px grey solid;
    padding: 5px;
    margin-right: 5px;
    transition: ease-in-out 0.1s;
}
.works-item {
    display: flex;
    margin-bottom: 20px;
}
.works-img:hover {
    border: 4px #2c0d65 solid;
    transition: ease-in-out 0.1s;
}
.works-item:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
}
.works-text {
    padding: 0 10px 0 10px;
}
.works-content {
    display: flex;
    flex-direction: column;
}

/*! Gallery */
.gallery {
    background-color: #becdcb;
    padding-bottom: 30px;
}
.galleryArray {
    display: grid;
    grid-gap: .5em;
    grid-template-areas: 
        "photoOne photoTwo photoThree"
        "photoOne photoFour photoFive";
    grid-template-columns: 1fr 20% 20%;
}
.galleryArray img {
    border-radius: 5px;
    height: 245px;
    width: 100%;
    object-fit: cover;
}
.galleryArray img:first-child {
    grid-area: photoOne;
    height: 500px;
    width: 100%;
}

/*! Footer */

.footer {
    background-color: #161414;
    color: #fff;
    text-align: center;
    padding: 5px;
}
.footer i {
    color: white;
}
.footer li {
    list-style-type: none;
    padding: 8px;
    margin: 25px;
    border-radius: 50%;
    border: 1px #fff solid;
    opacity: 0.8;
}
.footer li:hover {
    opacity: 1;
}
.footer .footer-socials ul {
    display: flex;
    justify-content: center;
}
.footer h3 {
    font-size: 30px;
}
.footer-text {
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    opacity: 0.8;
}
